# Fichiers et dossiers spécifiques à linkedin_publisher.py
scripts/linkedin_cache/
scripts/access_token.txt
scripts/*.log
scripts/*.pkl

# Environnements virtuels
scripts/venv/
scripts/.venv/
scripts/env/
scripts/.env/

# Fichiers Python
scripts/__pycache__/
scripts/*.pyc
scripts/*.pyo
scripts/*.pyd

# Fichiers de distribution
scripts/dist/
scripts/build/
scripts/*.egg-info/

# Fichiers de configuration d'éditeur
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Autres fichiers à ignorer
scripts/temp/
scripts/tmp/
scripts/old/
scripts/backups/

scripts/linkedin_publisher_v2.py
scripts/linkedin_publisher_v3.py
scripts/linkedin_publisher_v4.py
scripts/linkedin_publisher_v5.py
.github/workflows/publish_linkedin_v1.yml
.github/workflows/publish_linkedin.yml

#Dossier NEWSLETTER LINKEDIN

NEWSLETTER LINKEDIN/

